@import url('https://fonts.googleapis.com/css?family=Arsenal|Arvo|Contrail+One|Didact+Gothic|Josefin+Sans|Rajdhani|Rokkitt|Squada+One');

$nav-font: 'Arsenal', sans-serif;
$label-font: 'Josefin Sans', sans-serif;
$info-font: 'Rokkitt', serif;
$button-font: 'Contrail One', cursive;
$font1: 'Rajdhani', sans-serif;
$font2: 'Didact Gothic', sans-serif;
$font3: 'Arvo', serif;
$font4: 'Squada One', cursive;