<html>
<head>
	<title>ML Asset Browser</title>
	<link rel="stylesheet" type="text/css" href="../css/browser.css">
</head>
<body>
	<nav>
		<h1 class="asset-title"> Browse Assets </h1>
		<div class="search-container">
			<input type="search" class="search-box" placeholder="Search for asset..." />
		</div>
		<div class="icon search"><span>&#128366;</span></div>
		<div class="icon new-asset"> <span>+</span> </div>
	</nav>
		<div class="asset-type-list-container">
		<ul class="asset-type-list">
			<li class="asset-type"><span>Model</span></li>
			<li class="asset-type"><span>Texture</span></li>
			<li class="asset-type"><span>HDR</span></li>
			<li class="asset-type"><span>Script</span></li>
		</ul>
	</div>
	<div class="content">	
		<div class="tag-container"> 
			<h2 class="tag-header"> Tags </h2>
			<ul class="tag-list">
				<li class="tag"> Pipes </li>
				<li class="tag"> Cranes </li>
				<li class="tag"> Office </li>
				<li class="tag selected"> Sprinklers </li>
				<li class="tag"> Screws </li>
				<li class="tag"> Vehicles </li>
				<li class="tag selected"> Tools </li>
				<li class="tag"> Signs </li>
				<li class="tag"> Decorative </li>
				<li class="tag"> Meters </li>
				<li class="tag"> Roads </li>
				<li class="tag"> Utility Poles </li>
				<li class="tag selected"> Plants</li>
				<li class="tag"> People </li>
				<li class="tag"> Wires </li>
				<li class="tag"> Buildings </li>
				<li class="tag"> Food </li>
			</ul>
		</div>
		<div class="asset-list"> 
			<div class="asset-item">
				<div class="asset-preview">
					<img src="http://placehold.it/100x100">
				</div>
				<div class="asset-info">
					<p>
						<span class="asset-info-item">Asset Name: Trafic Cone.fbx</span>
						<span class="asset-info-item">Asset Location: C:/Assets/Traffic Cone</span>
						<span class="asset-info-item">Asset Size: 12.3 Mb</span>
					</p>
				</div>
			</div>
			<div class="asset-item">
				<div class="asset-preview">
					<img src="http://placehold.it/100x100">
				</div>
				<div class="asset-info">
					<p>
						<span class="asset-info-item">Asset Name: Trafic Cone.fbx</span>
						<span class="asset-info-item">Asset Location: C:/Assets/Traffic Cone</span>
						<span class="asset-info-item">Asset Size: 12.3 Mb</span>
					</p>
				</div>
			</div>
			<div class="asset-item">
				<div class="asset-preview">
					<img src="http://placehold.it/100x100">
				</div>
				<div class="asset-info">
					<p>
						<span class="asset-info-item">Asset Name: Trafic Cone.fbx</span>
						<span class="asset-info-item">Asset Location: C:/Assets/Traffic Cone</span>
						<span class="asset-info-item">Asset Size: 12.3 Mb</span>
					</p>
				</div>
			</div>
			<div class="asset-item">
				<div class="asset-preview">
					<img src="http://placehold.it/100x100">
				</div>
				<div class="asset-info">
					<p>
						<span class="asset-info-item">Asset Name: Trafic Cone.fbx</span>
						<span class="asset-info-item">Asset Location: C:/Assets/Traffic Cone</span>
						<span class="asset-info-item">Asset Size: 12.3 Mb</span>
					</p>
				</div>
			</div>
		</div>
	</div> 
	<!-- End of content div -->

</body>
</html>