/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Arsenal|Arvo|Contrail+One|Didact+Gothic|Josefin+Sans|Rajdhani|Rokkitt|Squada+One");
@import url("https://fonts.googleapis.com/css?family=Arsenal|Arvo|Contrail+One|Didact+Gothic|Josefin+Sans|Rajdhani|Rokkitt|Squada+One");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input, button {
  outline: none;
  margin: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }

body {
  background-color: #333;
  color: white; }

h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 25px; }

.asset-title {
  padding-top: 20px;
  flex: 10;
  text-align: left; }

.icon {
  flex: 0 0 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: solid #DDD 4px;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 5px;
  margin-top: 10px; }
  .icon:hover {
    background-color: #DDD;
    color: crimson;
    cursor: pointer; }

.asset-type-list {
  height: 40px;
  display: flex; }

.asset-type {
  background-color: crimson;
  color: white;
  font-family: "Arsenal", sans-serif;
  font-size: 20px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid #DDD 4px;
  border-bottom: solid #DDD 4px;
  border-top: 0;
  margin: 0 3px; }
  .asset-type:first-child {
    background-color: #DDD;
    color: crimson;
    margin-left: 0;
    border-left: none;
    border-bottom-left-radius: 0; }
  .asset-type:last-child {
    margin-right: 0;
    border-right: none;
    border-bottom-right-radius: 0; }
  .asset-type:hover {
    background-color: #DDD;
    color: crimson;
    cursor: pointer; }

nav {
  background-color: crimson;
  display: flex;
  height: 60px;
  border-bottom: solid 5px #DDD;
  justify-content: space-between; }

h1 {
  padding: 0;
  padding-left: 10px; }

.icon {
  flex: 0 0 87px; }

.asset-title {
  flex: 0 0 auto; }

.search-container {
  flex: 2 1 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Josefin Sans", sans-serif;
  color: #333; }

.search-box {
  width: 500px;
  padding: 7px;
  font-size: 1.1em;
  border: solid #333 3px;
  border-radius: 10px;
  margin-bottom: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0; }

.search-button {
  background-color: #DDD;
  padding: 7px;
  border-radius: 10px;
  font-size: 1.1em;
  margin-bottom: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: solid #333 3px;
  color: black;
  cursor: pointer; }
  .search-button:hover {
    background-color: #e5e5e5; }
  .search-button:active {
    background-color: #f7f7f7; }

.asset-nav {
  background-color: crimson;
  display: flex;
  height: 60px;
  font-family: "Josefin Sans", sans-serif; }

.asset-type {
  flex: 1 1 auto;
  text-align: center;
  padding: 20px;
  border-left: solid 4px #DDD;
  border-bottom: solid 4px #DDD; }
  .asset-type:first-child {
    border-left: none; }

.content {
  display: flex; }

.tag-container {
  border: solid #ddd 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: flex-start; }

.tag-title {
  text-align: center;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  border-bottom: solid #DDD 5px; }

.tag-list {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 10px;
  padding-left: 6px; }

.reset-tags {
  text-align: center;
  border: solid #DDD 3px;
  color: #DDD;
  padding: 7px 0;
  border-radius: 5px;
  flex: 0 0 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Contrail One", cursive;
  font-size: 22px; }
  .reset-tags:hover {
    color: crimson;
    border-color: crimson;
    cursor: pointer; }
  .reset-tags:active {
    color: #eb1f48;
    border-color: #eb1f48; }

.tag {
  color: #DDD;
  font-family: "Contrail One", cursive;
  font-size: 1em;
  margin: 4px;
  padding: 6px 12px;
  border: solid #DDD 2px;
  flex: 1 1 auto;
  text-align: center;
  border-radius: 4px;
  cursor: pointer; }
  .tag:hover {
    background-color: crimson; }
  .tag:active {
    background-color: #eb1f48;
    color: white; }

.static-tag {
  color: #DDD;
  background-color: crimson;
  font-family: "Contrail One", cursive;
  font-size: .8em;
  margin: 4px;
  padding: 5px 8px;
  padding-top: 6px;
  border: solid #DDD 2px;
  flex: 0 0 auto;
  text-align: center;
  border-radius: 4px; }

.selected {
  background-color: crimson;
  color: white;
  border: solid #DDD 2px; }

.asset-list {
  width: 50%;
  padding: 20px;
  margin: 0 auto; }

.asset-item {
  display: flex;
  border-bottom: solid 2px #DDD; }

.asset-preview {
  padding: 20px; }
  .asset-preview img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid #DDD 4px; }
    .asset-preview img:hover {
      border-color: crimson; }

.asset-info {
  flex: 3; }
  .asset-info p {
    padding: 20px;
    padding-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25em; }

.asset-info-item {
  display: block;
  margin: 10px 0;
  word-break: break-word; }
  .asset-info-item:last-child {
    margin-bottom: 10px; }

.asset-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-left: 15px; }

.hidden {
  display: none; }

/*# sourceMappingURL=search.css.map */
